.insta{
    color: #f21170;
    border-color: #f21170;
    
}

.insta:hover{
    background-color: #f21170;
    color: #fff;
}

.contact{
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.contact-jumbotron{
    
}
